In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'x':[0.2,1.2,1,1.4,-1.5,0.5,-0.5]})
df['y'] = 3*df['x'] + 5

In [3]:
df

     x    y
0  0.2  5.6
1  1.2  8.6
2  1.0  8.0
3  1.4  9.2
4 -1.5  0.5
5  0.5  6.5
6 -0.5  3.5

In [9]:
w,b = 0.3,0.1
df['y_pred'] = w*df['x']+ b

In [11]:
df['error'] = df['y']-df['y_pred']

In [ ]:

df['error^2'] = df['error']**2

In [15]:

df['error*x'] = df['error']*df['x']

In [16]:
df

     x    y  y_pred  error  error^2  error*x
0  0.2  5.6    0.16   5.44  29.5936    1.088
1  1.2  8.6    0.46   8.14  66.2596    9.768
2  1.0  8.0    0.40   7.60  57.7600    7.600
3  1.4  9.2    0.52   8.68  75.3424   12.152
4 -1.5  0.5   -0.35   0.85   0.7225   -1.275
5  0.5  6.5    0.25   6.25  39.0625    3.125
6 -0.5  3.5   -0.05   3.55  12.6025   -1.775

In [19]:
loss = df['error^2'].mean()*.5

In [23]:
eta = 0.2
dw = -df['error*x'].mean()
db = -df['error'].mean()

In [24]:
dw, db

(-4.383285714285714, -5.7871428571428565)

In [25]:
new_w = w - eta*dw
new_b = b - eta*db
new_w, new_b

(1.1766571428571428, 1.2574285714285713)

In [29]:
epoch = 26
w,b = 0.3,0.1
for i in range(epoch):
    
    df['y_pred'] = w*df['x']+ b
    df['error'] = df['y']-df['y_pred']
    df['error^2'] = df['error']**2
    df['error*x'] = df['error']*df['x']
    loss = df['error^2'].mean()*.5
    eta = 0.2
    dw = -df['error*x'].mean()
    db = -df['error'].mean()
    new_w = w - eta*dw
    new_b = b - eta*db
    print(f"Loss : {loss} for w = {w} and b = {b} ")
    w,b = new_w,new_b

Loss : 20.095935714285712 for w = 0.3 and b = 0.1
Loss : 10.952997757662391 for w = 1.1766571428571428 and b = 1.2574285714285713
Loss : 6.009611558539441 for w = 1.7971642693877552 and b = 2.1257625306122447
Loss : 3.32644496238763 for w = 2.2331395574647233 and b = 2.7796535153586004
Loss : 1.862421697322274 for w = 2.536583085936262 and b = 3.274116498510627
Loss : 1.0579802312749422 for w = 2.745197362094657 and b = 3.649746310304119
Loss : 0.6118539055559408 for w = 2.8862720607472268 and b = 3.9365412215913604
Loss : 0.36146215017489947 for w = 2.97951946284915 and b = 4.156706527566842
Loss : 0.21878647813951807 for w = 3.0391431785266034 and b = 4.326711085923386
Loss : 0.13596771317963877 for w = 3.0753467513486017 and b = 4.458796602721247
Loss : 0.08683021326976892 for w = 3.0954331705355926 and b = 4.562085924231232
Loss : 0.0569457917433155 for w = 3.104605681338943 and b = 4.64339741674979
Loss : 0.038279964967667786 for w = 3.106550569700328 and b = 4.707843845768987
Loss : 0.026299662085132566 for w = 3.103860871374213 and b = 4.759273182034882
Loss : 0.018405094819252035 for w = 3.0983440718353323 and b = 4.800593402651885
Loss : 0.013075415489647428 for w = 3.091245251761179 and b = 4.834012111686615
Loss : 0.009400214835485058 for w = 3.083408645559976 and b = 4.861213572804986
Loss : 0.006820379388128463 for w = 3.075394377587756 and b = 4.883489718678619
Loss : 0.0049831336138752135 for w = 3.067562608221562 and b = 4.901837287272842
Loss : 0.003659787994669 for w = 3.06013401068326 and b = 4.9170300012779995
Loss : 0.0026982367327188055 for w = 3.053233080976059 and b = 4.929672337463214
Loss : 0.0019949404206157503 for w = 3.0469190173079657 and b = 4.9402396960778585
Loss : 0.0014779982814683344 for w = 3.04120761629587 and b = 4.949108507153477
Loss : 0.0010966483562195148 for w = 3.0360866926495755 and b = 4.9565788766519105
Loss : 0.0008145751612090791 for w = 3.031526843036723 and b = 4.96289169009027
Loss : 0.0006055287265789208 for w = 3.0274888747898183 and b = 4.968241588101232

In [ ]:
df = pd.DataFrame({'x':[0.2,1.2,1,1.4,-1.5,0.5,-0.5]})
df['y'] = 3*df['x'] + 5